* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    background-color: #ffcdab;
    font-family: cursive;
}

#header {
    background-color: #5d5d5a; 
    border-bottom: #464644 5px solid;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


#header h1 {
    background-color: rgba( 100, 130, 100, 0.0);
    color: #ffa45c;
    font-size: 2.4rem;
    /* border-bottom: #bbbba5 solid 2px; */
}

#header h1:hover {
    color: #e77518;
    font-size: 2.43rem;
    transition: color 1s;
}

#header h1:active {
    color: #ff933a;
}

#header h1::selection {
    background-color: none;
}

.icons, #timer {
    position: relative;
    background-color: #ffa45c;
    margin: 100px auto;
    box-shadow: 4px 4px 4px 0px #3d4140;
    height: 500px;
    width: 500px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttoms {
    position: absolute;
    top: 60%;
}

.icons #row-1, .icons #row-2, .icons #row-3  {
    display: flex;
    /* flex-direction: row; */
    height: 25%;
    width: 97%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #ffa45c;
}

.icons #row-1 div, .icons #row-2 div, .icons #row-3 div  {
    color: #464644;
    font-size: x-large;
}


.timerbelow {
    display: none;
}

.item{
    background-color: #ffa45c;
    height: 100%;
    width: 27%;
}


.item img {
    background-color: #ffa45c;
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.item{
    position: relative;
    display: inline-block;
    display: flex; /* Make the width of box same as image */
}
.item :hover{
    background-color: #5d5d5a;
    border-radius: 50%;
}


.item .text{
    background-color: rgba(101, 151, 200, 00);
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    cursor: pointer;

    top: 80%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    justify-content: center;

    width: 100%; /* Set the width of the positioned div */
}
#minsec {
    margin-bottom: 30px;
    top: 20px;
    width: auto;
    left: 26%;
    background-color: #ffa45c;
    color: rgb(74, 14, 172);
    font-size: 100px;
    font-family: 'Gudea', sans-serif; 
}

#clock{
    background-color:  #ffa45c;
    margin-top: 0px;
}

.fa-4x {
    background-color: #ffa45c;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: color 0.5s ease-out;
}

.fa-4x:hover{
    color: rgb(255, 0, 81);
    transition: color 0.5s ease-out;
}



#buttoms{
    display: flex;
    flex-flow: column;
}



#buttoms {
    margin-top: 30px;
    background-color: #ffa45c;
}

#footer {
    width: 100%;
    height: stretch;
    background-color: #2f2f2c;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

#footer p, #footer p b{
    background-color: rgba(101, 151, 200, 00);
    color: whitesmoke;
}

#footer p b{
    color: tomato;
    font-weight: bolder;
}

#footer section{
    background-color: rgba(123, 168, 214, 0);
}
#footer section a i, #footer section a{
    background-color: rgba(101, 151, 200, 00);
    color: rgb(179, 175, 175);
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
}

#footer section a .facebook:hover, #footer section a{
    color: #3b5998;
    transition: color 0.5s;
}

#footer section a .linkedin:hover, #footer section a{
    color: #0e76a8;
    transition: color 0.5s;
}

#footer section a .github:hover, #footer section a{
    color: #FFFFFF;
    transition: color 0.5s;
}

#footer #copy{
    font-size: 0.85em;
    color: #bbbba5;
    
}